/* Styles follow dom element order. */

html {
  scroll-behavior: smooth;
}

.section {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  height: 100vh;
}

.profile-card {
  align-items: center;
  display: flex;
}

#name {
  font-family: 'Courgette', serif;
  font-size: 3rem;
  margin-right: 1rem;
}

.extension {
  border-radius: 1.5rem;
  height: 3rem;
  width: 3rem;
}

.header {
  font-family: 'Montserrat', serif;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item {
  cursor: pointer;
  margin: 0.2rem;
}

.link {
  color: black;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.blurb {
  font-family: 'Montserrat', sans-serif;
  margin-right: 1rem;
  margin-left: 1rem;
}

.home {
  border: 1px solid black;
  border-radius: 0.375rem;
  padding: 0.25rem;
  position: fixed;
  right: 0.625rem;
  padding: 0.25rem;
  bottom: 0.625rem;
}

/* Mobile devices do not support hovering. Use the hover media query to only apply hover styles for non-mobile devices. */
@media (hover: hover) {
  .extension:hover {
    opacity: 0.75;
  }

  .link:hover {
    color: lightslategray;
  }

  .home:hover {
    background-color: lightslategray;
    color: white;
  }
}
