/* Styles follow dom element order. */
html {
  scroll-behavior: smooth;
}

.body {
  background-image: url('./static/kale-salad.jpg');
  margin: 0;
}

.nav .list {
  background-color: rgb(175, 78, 139, 0.8);
  display: flex;
  font-size: 1.2rem;
  list-style-type: circle;
  justify-content: center;
  margin: 0;
  position: fixed;
  padding: 0;
  width: 100%;
  z-index: 1;
}

.nav .item {
  cursor: pointer;
  list-style-type: none;
  margin: 0.8rem;
}

.nav .link {
  border-radius: 0;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.nav .link:visited {
  color: black;
}

.link {
  background-color: white;
  border-radius: 1rem;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
}

/* Note: opacity < 1 creates a new stacking context. */
.page {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100vh;
  opacity: 0;
}

.page.title{
  justify-content: center;
}

.page .header {
  background-color: white;
  border-radius: 1rem;
  font-family: 'Montserrat', serif;
  font-size: 3rem;
  padding: 1rem
}

.page .text-block {
  background-color: white;
  border-radius: 1rem;
  font-family: 'Montserrat', sans-serif;
  margin: 0 3rem 1rem 3rem;
  padding: 0.9rem;
  max-width: 40rem;
}

.profile-pic {
  background-color: white;
  border: 2px white solid;
  border-radius: 1rem;
  max-width: 22rem;
  margin-bottom: 1.5rem;
}

.name {
  color: #258282;
  background-color: white;
  border-radius: 1rem;
  font-family: 'Courgette', serif;
  font-size: 6rem;
  margin: 1rem 1rem 2rem 1rem;
  padding: 1rem;
  text-align: center;
}

.divider {
  border: 1px solid white;
  margin-top: 1rem;
  width: 75%;
}

.page .review-block .text-block {
  margin: 0;
  padding: 0;
}

.review-block {
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 0.90rem;
}

.link.book {
  background-color: transparent;
  padding: 0;
}

.link > .book-cover {
  border-radius: 1rem;
  height: 12.29rem;
  width: 8rem;
}

.video {
  margin: 0 0 2rem 0;
}

.animate {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

/* Mobile devices do not support hovering. Use the hover media query to only apply hover styles for non-mobile devices. */
@media (hover: hover) {
  .nav .link:hover {
    color: white;
  }

  .link:hover {
    color: #258282;
  }

  .link.book .book-cover:hover {
    box-shadow: 1px 1px 8px 0 rgb(0 0 0 / 10%);
  }
}
