.dark {
  --main-bg-color: hsl(210,8%,20%);
  --main-font-color: #D9D6D6;
  --name-font-color: #CE7CCE;
  --link-font-color: #F0BD56;
  --link-font-color-hover: #B473B4;
  --link-focus-color: #B473B4;
}

.light {
  --main-bg-color: #FAFAFA;
  --main-font-color: black;
  --name-font-color: purple;
  --link-font-color: #D94A66;
  --link-font-color-hover: #F0BD56;
  --link-focus-color: purple;
}

html {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  height: 100%;
  scroll-behavior: smooth;
  transition: all .15s ease-out;
}

/* Note: the list of fonts, starting from the 2nd position, are system fonts used fallbacks while the first front loads. */
@font-face {
  font-display: swap;
  font-family: "Neue Haas Grotesk";
  src: url('/static/NHaasGroteskDSPro-55Rg.otf') format('opentype'), local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

/* Note: the list of fonts, starting from the 2nd position, are system fonts used fallbacks while the first front loads. */
@font-face {
  font-display: swap;
  font-family: "Neue Haas Grotesk Thin";
  src: url('/static/NHaasGroteskDSPro-25Th.otf') format('opentype'), local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

.body {
  height: 100%;
  margin: 0;
}

.main {
  height: 100%;
}

/* Note: opacity < 1 creates a new stacking context. */
.page {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100%;
  opacity: 0;
  transform: scale(0.90);
  justify-content: center;
}

.animate {
  opacity: 1;
  transform: scale(1);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.top-space {
  flex-grow: 1;
}

.bottom-space {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 2;
  width: 100%;
}

.page .text-block {
  font-family: 'Neue Haas Grotesk Thin', sans-serif;
  font-size: 1.5rem;
  margin: 0 2rem;
  max-width: 38rem;
  text-align: center;
}

.name {
  font-family: 'Neue Haas Grotesk', serif;
  font-size: 4rem;
  margin: 1rem 0;
  text-align: center;
}

.name-emphasis {
  animation: vilebloom 6s 1;
  color: var(--name-font-color);
  font-size: 7rem;
}

@keyframes vilebloom {
  66% {
    color: var(--name-font-color);
  }

  33% {
    color: #D94A66;
  }

  0% {
    color: #F0BD56;
  }
}

.period-emphasis {
  margin-left: 0.30rem;
}

.link {
  color: var(--link-font-color);
  font-weight: bold;
  text-decoration: none;
}

.link:focus {
  outline: var(--link-focus-color) dashed 3px;
  outline-offset: 2px;
}

/* Prevent focus outline from activating after click: https://css-tricks.com/the-focus-visible-trick/ */
.link:focus:not(:focus-visible) {
  outline: none;
}

/* Mobile devices do not support hovering. Use the hover media query to only apply hover styles for non-mobile devices. */
@media (hover: hover) {
  .link:hover {
    color: var(--link-font-color-hover) ;
    font-weight: bold;
  }
}

.theme-toggle{
  align-items: center;
  display: flex;
  font-family: "Neue Haas Grotesk Thin";
  font-size: 1rem;
  margin-top: 1rem;
}

.theme-toggle-input {
  margin: 0 0 0 5px;
  padding: 0;
}
